[data-theme="native.emerald"] {
  --w4-primary: 141 50% 60%;
  --w4-primary-content: 151 28% 19%;
  --w4-secondary: 219 96% 60%;
  --w4-secondary-content: 338 0% 100%;
  --w4-accent: 10 88% 68%;
  --w4-accent-content: 0 0% 0%;
  --w4-base-100: 338 0% 100%;
  --w4-base-200: 334 0% 91%;
  --w4-base-300: 334 0% 82%;
  --w4-base-content: 219 20% 25%;
  --w4-info: 194 201% 34%;
  --w4-info-content: 0 0% 0%;
  --w4-success: 161 124% 30%;
  --w4-success-content: 0 0% 0%;
  --w4-warning: 46 169% 39%;
  --w4-warning-content: 0 0% 0%;
  --w4-error: 357 126% 71%;
  --w4-error-content: 0 0% 0%;
}