[data-theme="native.corporate"] {
  --w4-primary: 214 84% 44%;
  --w4-secondary: 243 75% 59%;
  --w4-accent: 174 62% 38%;
  --w4-base-100: 0 0% 100%;
  --w4-base-200: 210 17% 97%;
  --w4-base-300: 214 16% 92%;
  --w4-base-content: 222 47% 16%;
}
