[data-theme="native.corporate"] {
  --w4-primary: 242 100% 58%;
  --w4-primary-content: 0 0% 100%;
  --w4-secondary: 257 100% 55%;
  --w4-secondary-content: 0 0% 100%;
  --w4-accent: 185 100% 60%;
  --w4-accent-content: 0 0% 100%;
  --w4-base-100: 0 0% 100%;
  --w4-base-200: 0 0% 93%;
  --w4-base-300: 0 0% 86%;
  --w4-base-content: 278 100% 22%;
}
