[data-theme="native.corporate"] {
  --w4-primary: 198 152% 32%;
  --w4-primary-content: 338 0% 100%;
  --w4-secondary: 215 19% 47%;
  --w4-secondary-content: 338 0% 100%;
  --w4-accent: 176 177% 21%;
  --w4-accent-content: 338 0% 100%;
  --w4-base-100: 338 0% 100%;
  --w4-base-200: 334 0% 91%;
  --w4-base-300: 334 0% 82%;
  --w4-base-content: 233 27% 13%;
  --w4-info: 190 167% 27%;
  --w4-info-content: 338 0% 100%;
  --w4-success: 150 174% 23%;
  --w4-success-content: 338 0% 100%;
  --w4-warning: 50 175% 36%;
  --w4-warning-content: 0 0% 0%;
  --w4-error: 359 100% 69%;
  --w4-error-content: 0 0% 0%;
}