[data-theme="native.dim"] {
  --w4-primary: 108 66% 73%;
  --w4-primary-content: 109 46% 5%;
  --w4-secondary: 12 100% 68%;
  --w4-secondary-content: 8 77% 5%;
  --w4-accent: 277 66% 74%;
  --w4-accent-content: 276 43% 5%;
  --w4-neutral: 220 21% 14%;
  --w4-neutral-content: 197 31% 77%;
  --w4-base-100: 220 18% 20%;
  --w4-base-200: 220 17% 17%;
  --w4-base-300: 219 18% 15%;
  --w4-base-content: 197 31% 77%;
  --w4-info: 186 100% 58%;
  --w4-info-content: 188 95% 4%;
  --w4-success: 159 82% 66%;
  --w4-success-content: 156 72% 5%;
  --w4-warning: 48 83% 64%;
  --w4-warning-content: 46 77% 4%;
  --w4-error: 11 100% 80%;
  --w4-error-content: 11 44% 6%;
  /* --- Variables Estructurales del Tema --- */
  --w4-radius-button: 0.25rem;
  --w4-radius-badge: 0.25rem;
  --w4-radius-card: 0.25rem;
  --w4-radius-input: 0.25rem;
  
  --w4-btn-border-width: 1px;
  --w4-shadow-sm: var(--w4-shadow-sm, 0 1px 2px 0 rgb(0 0 0 / 0.05));
  --w4-shadow-md: var(--w4-shadow-md, 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1));
}

