[data-theme="native-ui.retro"] {
  --w4-primary: 360 99% 81%;
  --w4-primary-content: 358 72% 29%;
  --w4-secondary: 141 78% 84%;
  --w4-secondary-content: 149 107% 19%;
  --w4-accent: 43 157% 32%;
  --w4-accent-content: 23 93% 25%;
  --w4-base-100: 44 47% 86%;
  --w4-base-200: 45 47% 80%;
  --w4-base-300: 44 47% 73%;
  --w4-base-content: 23 93% 25%;
  --w4-info: 198 152% 32%;
  --w4-info-content: 48 95% 88%;
  --w4-success: 176 151% 19%;
  --w4-success-content: 48 95% 88%;
  --w4-warning: 24 140% 40%;
  --w4-warning-content: 48 95% 88%;
  --w4-error: 359 100% 69%;
  --w4-error-content: 16 87% 26%;
  /* --- Variables Estructurales del Tema --- */
  --w4-radius-button: 0.4rem;
  --w4-radius-badge: 0.4rem;
  --w4-radius-card: 0.4rem;
  --w4-radius-input: 0.4rem;
  --w4-radius-checkbox: 0rem;
  
  --w4-btn-border-width: 2px;
  --w4-border-width-control: 2px;
  --w4-shadow-sm: 4px 4px 0px 0px hsl(var(--w4-base-content));
  --w4-shadow-md: 6px 6px 0px 0px hsl(var(--w4-base-content));
  --w4-checkbox-shadow: 4px 4px 0px 0px hsl(var(--w4-base-content));
  
  /* Textarea */
  --w4-textarea-shadow: 4px 4px 0px 0px hsl(var(--w4-base-content));
  --w4-textarea-shadow-focus: 4px 4px 0px 0px hsl(var(--w4-base-content));
}
