[data-theme="native.soft"] {
  --w4-primary: 307 100% 90%;
  --w4-primary-content: 302 100% 49%;
  --w4-secondary: 10 100% 89%;
  --w4-secondary-content: 17 100% 51%;
  --w4-accent: 164 100% 90%;
  --w4-accent-content: 166 100% 50%;
  --w4-base-100: 0 0% 100%;
  --w4-base-200: 248 100% 98%;
  --w4-base-300: 248 100% 92%;
  --w4-base-content: 0 0% 20%;
}
