[data-theme="native.soft"] {
  --w4-primary: 221 83% 62%;
  --w4-secondary: 262 73% 68%;
  --w4-accent: 174 62% 50%;
  --w4-base-100: 210 20% 99%;
  --w4-base-200: 210 18% 96%;
  --w4-base-300: 214 18% 91%;
  --w4-base-content: 222 47% 14%;
}
